*{
    margin: 0;
    padding: 0;
    font-family: 'Lobster', cursive;
}


.topnav {
  position: fixed;
  width: 100%;
  top: 0vh;
  background-color: white;
  overflow: hidden;
}
  

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
  
.topnav a:hover {
  color: black;
  animation-name: rainbow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
  
.topnav a.active {
  background-color: #ecca30;
  color: black;
}


@keyframes rainbow {
  0% {background-color: red;}
  16.66%{
background-color: orange;
  }
  33.33%{
      background-color: yellow;
  }
  50%{
      background-color: greenyellow;
  }
  66.66%{
    background-color: mediumturquoise;
  }
  83.33% {
      
  background-color: orchid;
  }
  100% {
    background-color: red;
  }
}
#logo{
  position: absolute;
  right: 20px;
  height: 44px;
}
.list{
  animation-name: rainbow;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 48px;
  width: 100%;
}
.list h2{
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 60px;
}
.list article {
  margin: 1%;
  border-radius: 5px;
  background-color: white;
  width: 45%;
  height: 50vh;
  border: black;
  border-style: double;
  border-width: thick;
  padding: 3px;
  overflow: hidden;
}

article img{
  width: 100%;
}
article h3{
  display: flex;
  justify-content: center;
}
footer{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  font-size: 10px;
  background-color: #6c757d;
  color: #adb5bd;
}
footer p {
  margin: 3px;
}

@media screen and (max-width: 991px) {
  .list article{
    width: 90%;
  }
}
@media screen and (max-width: 600px) {
  .topnav{
    display: flex;
    justify-content: center;
  }
  .topnav img {
    display: none;
  }
  .topnav a{
    width: 25%;
  }
}